* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
    color: #e8eaed;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #e8eaed;
    border-radius: 5px;
    margin-left: 10px;
}

#workspaces button:hover {
    background: rgba(232, 234, 237, 0.05);
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    background: #e8eaed;
    color: #121212;
}

#window {
    padding: 0 15px;
}

#clock {
    padding: 0 10px;
}

#language,
#pulseaudio,
#network,
#user {
    background: #e8eaed;
    color: #121212;
}

#language,
#pulseaudio,
#network {
    padding: 0 12px;
}

#tray,
#battery,
#user,
#custom-icon {
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 10px;
}

#language {
    border-radius: 5px 0 0 5px;
    border-right: 2px solid rgba(12, 12, 12, 0.1);
}

#pulseaudio {
    border-right: 2px solid rgba(12, 12, 12, 0.1);
}

#network {
    border-radius: 0 5px 5px 0;
    margin-right: 10px;
}

#tray,
#custom-icon {
    background: #121212;
    color: #e8eaed;
}

#battery {
    background: #ffffff;
    color: #121212;
}

#battery.charging {
    background: #121212;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #f53c3c;
        color: #ffffff;
    }
}

#battery.warning:not(.charging) {
    background: #ffffff;
    color: #f53c3c;
    animation: blink 0.5s steps(12) infinite alternate;
}
