* {
border: none;
font-family: "JetBrainsMono Nerd Font Propo", monospace;
font-size: 16px;
font-weight: bold;
min-height: 0;
padding: 0;
margin: 0;
}

window#waybar {
    background: transparent;
    color: #e8eaed;
}

#workspaces button {
padding: 0 5px;
background: transparent;
color: #999da0;
margin-left: 10px;
border-radius: 5px;
}

#workspaces button:hover {
background: rgba(232, 234, 237, 0.05);
}

#workspaces button.active {
background: #e8eaed;
color: #121212;
}

#window {
padding: 0 10px;
}

#clock {
padding: 0 8px;
border-radius: 5px;
}

#language,
#pulseaudio,
#network,
#battery,
#user,
#custom-icon {
background: transparent;
color: #e8eaed;
padding: 0 6px;
margin-right: 6px;
border-radius: 5px;
}
