* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Propo", monospace;
  font-size: 24px;
  font-weight: 600;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window {
  background: rgba(3, 3, 3, 0.9);
  color: #e8eaed;
  border: 2px solid #e8eaed;
}

#outer-box {
  padding: 20px;
}

#input {
  margin: 0 0 10px 0;
  padding: 6px 10px;
  background: transparent;
  color: #e8eaed;
}

#inner-box {
  background: transparent;
}

#entry {
  padding: 6px 10px;
  margin: 2px 0;
  color: #7f848e;
}

#entry:hover {
  color: #e8eaed;
}

#entry:selected {
  background: transparent;
  color: #e8eaed;
  outline: none;
  box-shadow: none;
}

#entry:focus {
  outline: none;
  box-shadow: none;
}

#text {
  color: inherit;
}
